@model eIngressos.Models.LoginVM;

@{
ViewData["Title"] = "Log in to your account";
}

<div class="max-w-sm mx-auto">
    <p>
    <h4 class="text-2xl font-semibold text-gray-900 dark:text-white">Log in to your account</h4>
    </p>

    @if (TempData["Error"] != null)
    {
    <div class="mb-4 p-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
    }

    <form asp-action="Login" class="space-y-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-5">
            <label asp-for="EmailAddress" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input asp-for="EmailAddress" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" />
            <span asp-validation-for="EmailAddress" class="text-sm text-red-600"></span>
        </div>

        <div class="mb-5">
            <label asp-for="Password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
            <input asp-for="Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="Password" class="text-sm text-red-600"></span>
        </div>

        <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
        </div>

        <div class="flex items-center justify-between">
            <input class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Log in" />
            <a class="text-blue-700 hover:underline dark:text-blue-300" asp-controller="Movies" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
