@model eIngressos.Models.ActedIn

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActedIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" class="max-w-sm mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-5"></div>

            <!-- Hidden fields to preserve composite key values -->
            <input type="hidden" asp-for="MovieId" />
            <input type="hidden" asp-for="ActorId" />

            <!-- Movie Dropdown -->
            <div class="mb-5">
                <label asp-for="MovieId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Movies</label>
                <select asp-for="MovieId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-items="ViewBag.MovieId">
                    <option value="">Select a movie</option>
                </select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>

            <!-- Actor Dropdown -->
            <div class="mb-5">
                <label asp-for="ActorId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Actors</label>
                <select asp-for="ActorId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-items="ViewBag.ActorId">
                    <option value="">Select an actor</option>
                </select>
                <span asp-validation-for="ActorId" class="text-danger"></span>
            </div>

            <!-- Character Input -->
            <div class="mb-5">
                <label asp-for="Character" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Character</label>
                <input asp-for="Character" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                <span asp-validation-for="Character" class="text-danger"></span>
            </div>

            <!-- Role Input -->
            <div class="mb-5">
                <label asp-for="Role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                <input asp-for="Role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" onclick="location.href='@Url.Action("Index")'" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 ml-4">Back to List</button>
            </div>
        </form>
    </div>
</div>
