<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completa com successo</h2>
        <p>Pode verificar todos os seus pedidos na secção Pedidos do seu perfil</p>
        <hr />
        <p>Obrigada!</p>
    </div>
</div>